    .overlay
    {
        background: linear-gradient(to right, rgba(209, 114, 196, 0.7), rgba(192, 68, 99, 0.7)), url("images/hospital.jpg") no-repeat fixed;
        height: 100%;
        width: 100%;
        overflow: hidden;
        color: #FFFFFF;
        top:0%;
        right: 0%;
        left: 0%;
   }   
   /* .overlay 
   {
        background: rgba(50, 70, 80, 0.7);
        overflow: hidden;
        height: 100%;
   } */
    .td-none
    {
        text-decoration: none;
    }
    .bg-main
    {
        background: linear-gradient(to right, rgba(209, 114, 196, 0.7), rgba(192, 68, 99, 0.7)), url("images/hospital.jpg") no-repeat fixed;  
    }
    .text-main
    {
        color: #6963ff;
    }
    .departments
    {
        top:478px;
    }

    .slick-slide{
        margin:10px;
    }
    .slick-dots li button:before {
        font-size:20px;
        color:white;
    }
    .bg-black
    {
        background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    }
    .bg-transparent
    {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .header
    {
        position: absolute;
        z-index: 999;
        top: 57px;
        background: #000;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
    .navbar ul li a
    {
        color: #6963ff !important;
    }
    
    .btn-main
    {
        border-color:#6963ff;
        /* background-color: #6963ff; */
        color: #6963ff !important;
    }